@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap');

body{
	margin: 0;
	background-image: url("../img/bg4k16.jpg");
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
    background-color: transparent;
    margin: 0;
	  font-family: 'Work Sans', sans-serif;
	  font-weight: 800;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

.inline
{
  display:inline-block;
}

#title
{
  color:#417353;
  text-decoration: none;
  font-family: 'Cabin', 'sans-serif';
}

#title:hover
{
  color : #14493d;
}

nav {
  float: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #453b5f;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

#indent
{
    margin-top: 9px;
    margin-left: 40px;
}

#card1 
{
    background-color: transparent;
}

#js
{
    color : 
    #c9e790;
    background-color: 
    #14493d; 
    border-radius: 10px;
    border: 1px solid;
    padding: 20px;
}

.button-in
{
    color:
    #14493d;
    background-color: 
    #c9e790;
    border-color: #14493d;
    border-radius: 5px
}

.button-in:hover
{
  color: black;
  background: 
  #478360;
}

#pic
{
  height : 25px;
  width : 25px;
  float :right;

  overflow: hidden;
  transition-duration: 0.8s;
  transition-property: transform;
}

#pic:hover{
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}